<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Finance</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <nav class="Platform">
            <div class="Border">
            <p class="GlobalFinance Montserrat"> Global Finance inc. </p>
            </div>
            <div class="manage">
            <div class="Border">
                <p class="LocalTime Montserrat"> {{timestamp}} MSC </p></div>
                <img class="userAccountSite" src="{{ url_for('static', path='/images/account_icon.svg') }}" />
                <form method="POST" action="/Disactivate">
                <button class="turnoff" ></button>
                </form>
            </div>
        </nav>
        <div class="MainTarget Poiret">
            <div class="card text-center">
                <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="/{{user}}/Director">Совершить сделку</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="/{{user}}/Choosen">Формировать отчет</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="/{{user}}/Analise"> Отчет и статистика </a>
                    </li>
                    
                </ul>
                </div>
                <div class="card-body">
                    <p class="card-title LocalTime bold">Статистика и отчеты</p>
                    </br>

                    <div class="obj-table">
                        <div style="overflow-y:scroll; height: 250px; width: 100%; align-items: baseline; display: flex; justify-content: center;">
                        <table style="width:90%" class="table">
                            <tr class="tr">
                                <td class="td" colspan="2">Кешер</td>
                                <td class="td" colspan="2">Оскар</td>
                                <td class="td" colspan="2">Тульская</td>
                                <td class="td" colspan="2">Сбор</td>
                            </tr>
                            <tr class="tr">
                              <td class="td">Валюта</td>
                              <td class="td">Объём</td>
                              <td class="td">Валюта</td>
                              <td class="td">Объём</td>
                              <td class="td">Валюта</td>
                              <td class="td">Объём</td>
                              <td class="td">Валюта</td>
                              <td class="td">Объём</td>
                            </tr>
                            <tr class="tr">
                                <td class="td">₽</td>
                                <td class="td"></td>
                                <td class="td">₽</td>
                                <td class="td"></td>
                                <td class="td">₽</td>
                                <td class="td"></td>
                                <td class="td">₽</td>
                                <td class="td"></td>
                            </tr>
                          </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>