<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <title> Global Finance </title>
</head>
<body>
    <section>
        <nav class="Platform">
            <div class="Border">
            <p class="GlobalFinance Montserrat"> Global Finance inc. </p>
            </div>
            <div class="manage">
            <div class="Border">
                <p class="LocalTime Montserrat"> {{timestamp}} MSC </p></div>
                <img class="userAccountSite" src="{{ url_for('static', path='/images/account_icon.svg') }}" />
            </div>
        </nav>
        <form method="POST">
            <div class="flexbox-center">
                <p class="Enterence Montserrat">
                    Вход
                </p>
                <!-- Form for sign in -->
                <div class="form-floating Montserrat bold">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Ваше имя" name="username" required>
                </div> 
                <div class="form-floating Montserrat bold">
                    <input type="text" class="form-control" id="floatingInput" placeholder="@почта" name="email" required>
                </div> 
                <div class="form-floating Montserrat bold">
                    <input type="password" class="form-control" id="floatingInput" placeholder="Ваш пароль" name="password" required>
                </div>

                <div class="Redirection">
                <div class="Redirect">
                    <button type="submit" class="btn btn-success Montserrat"> Войти </button>
                    </form>
                    <form method="GET" action="/signup">
                    <button type="submit" class="btn btn-danger Montserrat"> Регистрация </button>
                    </form>
                </div>
                </div>
            </div>
    </section>
</body>
</html>