<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <title> Global </title>
</head>
<body>
    <header>
        <nav class="Platform">
            <p class="Global Xanh"> Global Finance inc. </p>
            <div class="manage">
                <p class="timestamp Xanh"> {{timestamp}} MSC </p>
                <img class="userAccountSite" src="{{ url_for('static', path='/images/account.svg') }}" />
            </div>
        </nav>
        <center class="regCenter Xanh">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3"> Немного о вас ...  </h4>
                <form class="needs-validation" novalidate method="POST">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label">Имя</label>
                      <input type="text" class="form-control" name="username" pattern="[A-Za-z]{3}" required>
                    </div>
        
                    <div class="col-sm-6">
                      <label for="lastName" class="form-label">Фамилия</label>
                      <input type="text" class="form-control" name="lastname"  required>
                    </div>

                    <div class="col-12 mt-4">
                        <input type="email" class="form-control" name="email" placeholder="ваша@почта.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <div class="invalid-feedback">
                          Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <input type="password" class="form-control" name="password" placeholder="Пароль" required minlength="4"
                        maxlength="12" size="12">
                        <div class="invalid-feedback">
                          Please enter a valid email address for shipping updates.
                        </div>
                    </div>
        
                    <div class="col-12 mt-4">
                      <input type="text" class="form-control" name="tax" placeholder="ИИН" required>
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
        
                    <div class="col-12 mt-4">
                      <input type="text" class="form-control" name="phone" placeholder="Телефон" required>
                    </div>    
                  </div>

                  <div class="content-macker">
                  <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                      <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="0" value="Admin" name="role" checked="checked"/>
                        <p class="select-box__input-text">Администратор</p>
                      </div>
                      <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="1" value="Director" name="role" checked="checked"/>
                        <p class="select-box__input-text">Директор</p>
                      </div>
                      <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="2" value="Cashier" name="role" checked="checked"/>
                        <p class="select-box__input-text">Кассир</p>
                      </div>
                      <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="4" value="0" name="role" checked="checked"/>
                        <p class="select-box__input-text"> Выберите должность </p>
                      </div><img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                    </div>
                    <ul class="select-box__list">
                      <li>
                        <label class="select-box__option" for="0" aria-hidden="aria-hidden" value="Admin">Администратор</label>
                      </li>
                      <li>
                        <label class="select-box__option" for="1" aria-hidden="aria-hidden" value="Director">Директор</label>
                      </li>
                      <li>
                        <label class="select-box__option" for="2" aria-hidden="aria-hidden" value="Cashier">Кассир</label>
                      </li>
                  </div></div>

                  <hr class="my-4">
                  
                  <div class="content-end">
                  <button class="w-50 btn btn-success btn-lg" type="submit"> Продолжить для проверки </button>
                  </div>
                </form>
              </div>
        </center>
        <script>
 
        </script>
        <style> 

            .content-end {
                justify-content: flex-end;
                display: flex;
                align-items: center;
            }
            .manage1 {
                width: 40%;
                display: flex;
                justify-content: space-evently;
                align-items: center;
            }
      </style>
    </header>
</body>
</html>