<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <title> Global Finance </title>
</head>
<body>
    <section>
        <nav class="Platform">
            <div class="Border">
            <p class="GlobalFinance Montserrat"> Global Finance inc. </p>
            </div>
            <div class="manage">
            <div class="Border">
                <p class="LocalTime Montserrat"> {{timestamp}} MSC </p></div>
                <img class="userAccountSite" src="{{ url_for('static', path='/images/account_icon.svg') }}" />
            </div>
        </nav>
        <form method="POST">
            <div class="flexbox-center-signup">
                <p class="Enterence Montserrat">
                    Заполните форму регистрации
                </p>

                <div class="input-in-signup">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control Montserrat" name="username" placeholder="Имя" required>
                    </div>
                </div>

                <div class="input-in-signup">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control Montserrat" name="lastname" placeholder="Фамилия" required>
                    </div>
                </div>

                <div class="input-in-signup">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control Montserrat" name="email" placeholder="Ваша@почта.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    </div>
                </div>
                
                <div class="input-in-signup">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control Montserrat" name="password" placeholder="Пароль" required>
                    </div>
                </div>

                <div class="input-in-signup">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control Montserrat" name="tax" placeholder="ИИН" required>
                    </div>
                </div>
                
                <div class="input-in-signup">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control Montserrat" name="phone" placeholder="Телефон" required>
                    </div>
                </div>

                <div class="Redirection">
                <div class="Redirect-signup">
                    <div class="Center">
                        <select id="sources" class="custom-select sources bold" placeholder="Выбрать должность" name="Role" required>
                          <option selected> Выбрать должность </option>
                          <option value="Администратор">Администратор</option>
                          <option value="Директор">Директор</option>
                          <option value="Контролер">Контролер</option>
                        </select>
                    </div>

                    <div class="Center">
                        <select id="sources" class="custom-select sources bold" placeholder="Выбрать сделку" name="Place" required>
                          <option selected> Выбрать место </option>
                          <option value="Оскар">Оскар</option>
                          <option value="Тульская">Тульская</option>
                          <option value="Кешер">Кешер</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="input-in-signup">
                <div class="content-end">
                    <button type="submit" class="btn btn-success Montserrat"> Продолжить для проверки </button>
                </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>